name: Build and Test BifroMQ

on:
  workflow_dispatch:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'
      - 'release-**'
      - 'feat-**'
      - 'hotfix-**'
      - 'bugfix-**'
      - 'fix-**'
jobs:
  prepare:
    name: "Prepare"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Install without tests
        run: mvn -q -DskipTests install

  license:
    name: "License Check"
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Check License Header
        uses: apache/skywalking-eyes/header@main
      - name: Check Dependencies' License
        uses: apache/skywalking-eyes/dependency@main
        env:
          MAVEN_OPTS: -Xmx1g
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test:
    name: "Build BifroMQ"
    needs: license
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Install TestSuites
        run: mvn install -pl testsuites -am
      - name: Build with Maven
        run: mvn clean verify -P build
